{% extends "base.html.j2" %}


{% block title %}{{ _('Welcome to Resume Project') }}{% endblock %}
{% block content %}
  <h1>👋 {{ _('Welcome to Resume Builder') }}</h1>
  <p>{{ _('This platform allows you to build multilingual resumes dynamically.') }}</p>
{% endblock %}